.lobbyCurrentPlayer .lobbyOtherPlayers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobbyOtherPlayers {
  margin: 1em;
}

.gamePage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cardView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.otherPlayers {
    display: flex; 
    justify-content: space-evenly;
  }
  
.neutralCards{
    display: flex;
    justify-content: space-evenly;
  }

.currentPlayer{
    display: flex;
    justify-content: space-evenly;
  }

.playerDisplay{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.roleCard {
  background-color: rgb(33, 138, 98);
  width: 5.7em;
  height: 5.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}